<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/style.css" />
</head>
<body>
    <button id="addTaskBtn">Lägg till uppgift</button>

    <div id="taskFormContainer"></div>

    <div id="newTasksContainer"></div>
    <div id="ongoingTasksContainer"></div>      
    <div id="doneTasksContainer"></div>

     <script type="module" src="/src/Views/Project.ts"></script>
</body>
</html>