<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <div id="taskFormContainer">
      <h1>Projekt namn</h1>
      <div id="newTasksContainer"></div>
      <div id="ongoingTasksContainer"></div>
      <div id="doneTasksContainer"></div>
    </div>
    <button id="addTaskBtn">Lägg till uppgift</button>
    <script type="module" src="/src/Views/Project.ts"></script>
  </body>
</html>
